@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/nKKU-Go6G5tXcr4-OSWg.ttf') format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/nKKZ-Go6G5tXcoaS.ttf') format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/nKKU-Go6G5tXcr5mOCWg.ttf') format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/nKKU-Go6G5tXcr5KPyWg.ttf') format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/nKKU-Go6G5tXcr4uPiWg.ttf') format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/-W_8XJnvUD7dzB2Cy_g4bg.ttf') format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/-W__XJnvUD7dzB26Zw.ttf') format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/-W_8XJnvUD7dzB2Ck_k4bg.ttf') format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/-W_8XJnvUD7dzB2Cv_44bg.ttf') format('truetype');
}
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/-W_8XJnvUD7dzB2C2_84bg.ttf') format('truetype');
}
